In [1]:
import pandas as pd

In [42]:
clients = pd.read_csv('CLIENTS.csv')
dates = pd.read_csv('DATES.csv')
orders = pd.read_csv('ORDERS.csv')
order_status = pd.read_csv('ORDER_STATUS.csv')
products = pd.read_csv('PRODUCTS.csv')
stores = pd.read_csv('STORES.csv')

In [9]:
products = products.drop(['ProductID'], axis=1)
products

,ProductName,Category,Price,QuantityInStock,SupplierID
0,Ноутбук,Компьютеры и периферийные устройства,500000,386,4
1,Настольный компьютеры,Компьютеры и периферийные устройства,340000,214,3
2,Монитор,Компьютеры и периферийные устройства,20000,957,5
3,Принтер,Компьютеры и периферийные устройства,15000,426,1
4,Клавиатура,Компьютеры и периферийные устройства,10000,440,5
5,Сканер,Компьютеры и периферийные устройства,35000,641,2
6,Мышь,Компьютеры и периферийные устройства,250000,446,4
7,Чип,Комплектующие,370000,224,5
8,Видеокарта,Комплектующие,400000,910,3
9,Материнская плата,Комплектующие,250000,576,1
10,Система охлаждения,Комплектующие,120000,570,3
11,Маршрутизатор,Сетевое оборудование,70000,431,3
12,Беспроводные точки доступа,Сетевое оборудование,80000,989,3
13,Кабель для сетей,Сетевое оборудование,35000,506,4
14,Смартфон,Телефоны и смартфоны,350000,615,1
15,IP-телефон,Телефоны и смартфоны,100000,835,1
16,Наушники,Телефоны и смартфоны,8000,327,3
17,Наушники беспроводные,Аудио и видео техника,20000,702,3
18,Фотоаапарат,Аудио и видео техника,180000,674,1
19,Видеокамера,Аудио и видео техника,250000,988,4
20,Батарейка 20V,Электроника и аксессуары,3000,313,2
21,Батарейка 10V,Электроника и аксессуары,1500,358,1
22,Зарядное устройство,Электроника и аксессуары,7000,958,2
23,Карта памяти,Электроника и аксессуары,15000,126,1
24,Чехол,Электроника и аксессуары,5000,929,3

In [15]:
clients = clients.drop(['Customer Id'], axis=1)

In [24]:
clients.rename(columns={'Name Customer': 'NameCustomer'}, inplace=True)

In [26]:
order_status = order_status.drop(['Order Status ID'], axis=1)

In [28]:
stores = stores.drop(['Store ID'], axis=1)

In [33]:
stores.rename(columns={'Store City': 'StoreCity', 'Store Address': 'StoreAddress'}, inplace=True)

In [44]:
orders = orders.drop(['OrderId'], axis=1)

In [32]:
def generate_insert_queries(data_frame, table_name):
    insert_queries = []

    for index, row in data_frame.iterrows():
        columns = ', '.join(row.index)
        values = ', '.join([f"'{str(value)}'" for value in row.values])
        insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({values});"
        insert_queries.append(insert_query)

    return insert_queries

In [45]:
queries = generate_insert_queries(orders, "ORDERS")
for query in queries:
  print(query)

INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.01.2021', '20', '1', '9', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.01.2021', '77', '2', '9', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.01.2021', '27', '3', '6', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('05.01.2021', '62', '4', '3', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('07.01.2021', '30', '5', '10', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '65', '6', '5', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '63', '7', '3', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '82', '8', '4', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '7', '9', '5', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '14', '10', '5', '5', '3');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.01.2021', '33', '11', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.01.2021', '11', '12', '7', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.01.2021', '43', '13', '2', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.01.2021', '29', '14', '7', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.01.2021', '4', '15', '7', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('13.01.2021', '62', '16', '1', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('15.01.2021', '34', '17', '5', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.01.2021', '96', '18', '9', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.01.2021', '46', '19', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.01.2021', '8', '20', '10', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('18.01.2021', '67', '21', '4', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('22.01.2021', '70', '22', '2', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('22.01.2021', '4', '23', '10', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('23.01.2021', '55', '24', '5', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('23.01.2021', '18', '25', '5', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('24.01.2021', '17', '6', '3', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('24.01.2021', '40', '11', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('24.01.2021', '29', '14', '4', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('24.01.2021', '76', '2', '5', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('25.01.2021', '100', '20', '9', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.01.2021', '96', '7', '9', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.01.2021', '38', '2', '2', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.01.2021', '73', '17', '9', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('29.01.2021', '100', '1', '3', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('30.01.2021', '65', '16', '3', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('30.01.2021', '90', '3', '4', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('31.01.2021', '3', '4', '5', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('31.01.2021', '41', '9', '7', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('31.01.2021', '9', '4', '6', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.02.2021', '24', '1', '2', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.02.2021', '92', '23', '5', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('06.02.2021', '57', '2', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.02.2021', '43', '4', '7', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.02.2021', '71', '13', '8', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.02.2021', '52', '17', '5', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.02.2021', '23', '12', '4', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('10.02.2021', '92', '11', '10', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.02.2021', '93', '18', '2', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.02.2021', '2', '20', '5', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.02.2021', '62', '4', '3', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.02.2021', '93', '20', '1', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.02.2021', '93', '23', '9', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('13.02.2021', '5', '3', '8', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('14.02.2021', '10', '18', '10', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('15.02.2021', '37', '18', '1', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.02.2021', '73', '14', '4', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.02.2021', '83', '15', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.02.2021', '85', '21', '10', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('18.02.2021', '29', '21', '2', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('19.02.2021', '48', '8', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('20.02.2021', '55', '5', '2', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('20.02.2021', '56', '20', '10', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('20.02.2021', '65', '17', '8', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('21.02.2021', '55', '5', '10', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('21.02.2021', '78', '3', '9', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('22.02.2021', '39', '7', '9', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('25.02.2021', '21', '4', '10', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('25.02.2021', '43', '9', '10', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.02.2021', '47', '13', '3', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.02.2021', '99', '7', '9', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.02.2021', '33', '23', '10', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.02.2021', '96', '22', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.02.2021', '91', '5', '2', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('01.03.2021', '55', '7', '9', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('02.03.2021', '87', '6', '8', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.03.2021', '57', '20', '7', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.03.2021', '42', '20', '8', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.03.2021', '19', '17', '7', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('05.03.2021', '52', '19', '3', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('05.03.2021', '58', '20', '6', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('06.03.2021', '4', '14', '7', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('06.03.2021', '13', '21', '6', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('07.03.2021', '32', '12', '10', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('07.03.2021', '91', '16', '2', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.03.2021', '98', '10', '3', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.03.2021', '92', '12', '8', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.03.2021', '15', '6', '10', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('10.03.2021', '71', '11', '1', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('10.03.2021', '24', '23', '3', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.03.2021', '54', '16', '2', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.03.2021', '70', '19', '7', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('13.03.2021', '49', '17', '7', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('13.03.2021', '10', '3', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('14.03.2021', '89', '6', '3', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('14.03.2021', '57', '25', '3', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.03.2021', '76', '17', '4', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.03.2021', '56', '7', '6', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.03.2021', '61', '17', '6', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('16.03.2021', '1', '7', '9', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.03.2021', '67', '24', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('17.03.2021', '53', '17', '3', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('18.03.2021', '82', '8', '4', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('18.03.2021', '46', '21', '4', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('19.03.2021', '11', '19', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('21.03.2021', '19', '4', '9', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('22.03.2021', '20', '25', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('24.03.2021', '79', '1', '5', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('25.03.2021', '48', '20', '1', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.03.2021', '96', '20', '6', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('26.03.2021', '64', '10', '6', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.03.2021', '53', '25', '2', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('28.03.2021', '86', '9', '6', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('29.03.2021', '21', '15', '4', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('29.03.2021', '83', '7', '1', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('31.03.2021', '91', '6', '8', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('01.04.2021', '47', '4', '9', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('01.04.2021', '59', '2', '8', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('02.04.2021', '9', '18', '6', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('03.04.2021', '8', '12', '9', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.04.2021', '34', '23', '3', '2', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.04.2021', '10', '10', '5', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.04.2021', '38', '2', '4', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('04.04.2021', '54', '21', '2', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('05.04.2021', '43', '5', '1', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('06.04.2021', '14', '16', '8', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('08.04.2021', '93', '11', '6', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('09.04.2021', '75', '10', '6', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.04.2021', '39', '7', '9', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('11.04.2021', '27', '17', '3', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.04.2021', '97', '19', '7', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.04.2021', '28', '23', '10', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.04.2021', '32', '25', '8', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('12.04.2021', '86', '21', '5', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('14.04.2021', '43', '25', '6', '5', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('14.04.2021', '3', '13', '4', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('18.04.2021', '33', '10', '2', '3', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('19.04.2021', '51', '10', '9', '1', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('19.04.2021', '30', '24', '3', '4', '1');
INSERT INTO ORDERS (OrderDate, CustomerID, ProductID, PurchaseAmount, StoreID, OrderStatusID) VALUES ('20.04.2021', '81', '9', '8', '2', '1');